<h1>瀏覽 Category</h1>
<%= link_to "Back to Categories", admin_categories_path, class: 'btn btn-default' %>
<%= link_to "Edit", edit_admin_category_path(@category), class: 'btn btn-success' %>
<h2><%= @category.name %></h2>
<p><%= @category.description %></p>